.contaniner_modal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.contaniner_modal svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
    left: 94%;
    top: 5%;
    transform: translate(-94%, -5%);
    position: absolute;
}

.contaniner_modal img {
    height: 200px;
    width: 200px;
}

.contaniner_modal-descripcion {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contaniner_modal-descripcion p {
    text-align: justify;
    padding: 50px;
}

.contaniner_modal-descripcion button {
    width: 13%;
    margin: 0 auto;
    height: 32px;
    border-radius: 6px;
    border: navajowhite;
    background-color: #306a5d;
    color: #fff;
}