<div class="container-jugador1">
    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    <div class="form-group">
        <label for="">Ingrese el nombre del Jugador 1</label>
        <input #jugador1 class="form-control" type="text" name="" id="">
    </div>
    <div class="form-group">
        <label for="">Busque su pokemon favorito</label>
        <input #buscar class="form-control" type="text" name="" id="">
        <br>
        <button (click)="buscarPokemon(buscar.value)" class="btn btn-primary form-control">Bucar pokemon</button>
    </div>
    <div class="container-jugador1_infopokemon" *ngIf="pokemon.length > 0">
        <div class="datos" *ngFor="let item of pokemon">
            <p>Nombre pokemon: <span>{{item.name}}</span></p>
            <img [src]="item.sprites.front_shiny" [alt]="item.name">
        </div>
        <nav class="tipos">
            <p>{{tipos.length === 1 ? 'tipo' : 'tipos'}}</p>
            <ul *ngFor="let type of tipos; let i = index">{{i+1}} {{type.type.name}}</ul>
        </nav>
        <button class="btn btn-primary form-control" (click)="seleccionPokemon(pokemon, jugador1.value )">Seleccionar</button>
    </div>
    <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="isPokemon">
        <h2>No se encontro el pokemon</h2>
    </div>

</div>