<div class="container-play">
    <div class="container-play_selecion-title">
        <p>¿Cómo deseas jugar?</p>
        <div class="container-play_selecion-botones">
            <button class="btn btn-primary" (click)="duelo1()">
                Jugador 1 VS Jugador 2
            </button>
            <button class="btn btn-primary" (click)="duelo2()">
                Jugador 1 vs Computadora
            </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="btn-salir">
            <button class="button btn btn-primary" (click)="salir()">
                Salir
            </button>
        </div>
    </div>
</div>