/* You can add global styles to this file, and also import other style files */

* {
    padding: 0px;
    margin: 0px;
}

html,
body {}

body {
    background-image: url(https://as01.epimg.net/meristation/imagenes/2020/04/24/noticias/1587718580_894202_1587718747_noticia_normal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}